@import url("https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i,900");

@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", "Roboto", serif;
}

#navigation {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #0B476De0;
  right: -2000px;
  top: 0px;
  -webkit-transition: right ease 0.5s;
  transition: right ease 0.5s;
}

.hero_image {
  background-size: cover;
  height: 100vh;
}

.menu_page {
  position: fixed;
  z-index: 1;
  width: 100%;
  background: #0B476D;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 55px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu_page ::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 0;
  width: 0;
}

.menu_button {
  cursor: pointer;
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.close_button {
  border: 0;
  width: 44px;
  height: 44px;
  cursor: pointer;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #0B476D;
  position: absolute;
  font-size: 1.3em;
  left: 84%;
  margin: 6px;
  z-index: 2;
}

.menu {
  color: #FFFFFF;
  margin: 0;
  padding-top: 20vh;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.5em;
}

.menu_link {
  padding: 0 20px;
  display: block;
  line-height: 56px;
  color: inherit;
  text-decoration: none;
}

.page--menu-visible::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: #0B476D;
}

.page--menu-visible #navigation {
  right: 0;
  z-index: 2;
}

.hero_name {
  position: relative;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.31;
  color: #0B476D;
  text-align: center;
  padding-top: 48vh;
  text-transform: uppercase;
}

.hero_name h2 {
  color: #FFFFFF;
}

.menu__navigation ul .nav_li {
  font-size: 33px;
  padding: 10px;
}

.second_nav {
  display: none;
  position: -webkit-sticky;
  position: sticky;
  width: 60%;
  z-index: 1;
  top: 0;
  background: #0B476D;
  height: 55px;
  text-transform: uppercase;
}

.second_nav ul {
  color: #FFFFFF;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 15px;
}

.second_nav ul li {
  font-size: 12px;
}

.content_footer {
  position: relative;
  background-color: #0B476D;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 25px 25px 5px 25px;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  margin-bottom: 15px;
}

.copyright span {
  margin: 5px;
}

.footer_references {
  font-size: 11px;
  text-align: center;
}

.footer_references a {
  text-decoration: none;
  color: #FFFFFF;
}

main {
  position: relative;
  background-color: #FFFFFF;
}

#particles-js {
  background-image: -webkit-gradient(linear, left top, right top, from(#78BE97), to(#398689));
  background-image: linear-gradient(90deg, #78BE97, #398689);
  position: fixed;
  width: 100%;
  height: 100%;
}

.section {
  padding: 60px 0;
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #0B476D;
  font-size: 15px;
}

.section p {
  line-height: 24px;
}

.section_title {
  text-align: left;
  margin-bottom: 15px;
}

.section_title h1 {
  position: relative;
  padding: 10px 0;
  margin-bottom: 10px;
  color: #398689;
  text-transform: uppercase;
}

.section_title h1:after {
  content: '';
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #398689;
  bottom: 0;
  left: 0;
}

.link {
  color: #78BE97;
  text-decoration: none;
}

.divider {
  height: 2px;
  width: 100%;
  margin: 0px 0 10px;
  position: relative;
}

.divider:before {
  content: '';
  position: absolute;
  bottom: 0;
  top: 10%;
  right: 5%;
  width: 90%;
  background: #CCC;
}

.section_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.section_about-photo {
  width: 290px;
  margin: 10px 0;
}

.section_about-subtitle {
  font-size: 14px;
  color: #78BE97;
  padding-bottom: 10px;
}

.section_about-subtitle span {
  font-size: 24px;
}

.section_about-description {
  width: 300px;
}

.studies_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card_box {
  width: 350px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #78BE97;
  background-color: #fafafa;
}

.card_box li,.card_box p {
  list-style: none;
  font-size: 18px;
}

.card_box-icon {
  width: 30%;
  padding-bottom: 25px;
}

.container_projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.card_project {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 10px;
  margin: 10px 0 25px 0;
  width: 325px;
}

.card_project img {
  width: 100%;
  border-radius: 4px;
}

.card_project h3 {
  color: #78BE97;
  margin: 1em 0;
}

.text_project {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}

.text_project:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #78BE97;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 10px;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}

.icon img {
  height: 20px;
  margin-right: 10px;
}

.skills1 {
  margin-top: 20px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #fafafa;
  padding: 25px 25px 0 0;
}

.skills1 li {
  background-color: #FFFFFF;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 25px 25px;
  padding: 5px;
  font-weight: bold;
  width: 95px;
}

.skills1 img {
  height: 40px;
  margin: 10px;
}

.section_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.network {
  margin-top: 20px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  color: #78BE97;
}

.email img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.network_icon img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.top_page {
  position: absolute;
  left: 85%;
  bottom: 10px;
  background-color: #FFFFFF;
  border: solid;
  border-color: #78BE97;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top_page img {
  width: 40px;
  height: 40px;
  color: #0B476D;
}

@media all and (min-width: 500px) {
  .top_page {
    left: 90%;
  }
}

@media all and (min-width: 1000px) {
  main {
    width: 60%;
  }
}

@media all and (min-width: 1100px) {
  #navigation {
    width: 40%;
  }

  .menu_page {
    width: 40%;
    margin-left: 60%;
  }

  .hero_name {
    font-size: 2.5em;
  }

  .second_nav {
    display: block;
  }
}

@media all and (min-width: 1300px) {
  .studies_box {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media all and (min-width: 1350px) {
  .second_nav ul li {
    font-size: 16px;
  }
}

/*# sourceMappingURL=main.css.map */
