// Colors
$primary: #0B476D;
$secondary: #398689;
$light: #78BE97;
$lemon: #A7DDA7;
$yellow: #CEF19E;
$bone: #FCFBF9;

$primaryOpacity: #0B476De0;
$secondaryOpacity: #398689ab;

// Typography
$textStyle: 'Roboto Slab', serif;
$generalFont: 'Rubik', 'Roboto', serif;
