.section_about {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.section_about-photo {
	width: 290px;
	margin: 10px 0;
}

.section_about-subtitle {
	font-size: 14px;
	color: $light;
	padding-bottom: 10px;
	span {
		font-size: 24px;
	}
}
.section_about-description {
	width: 300px;
}
