.content_footer {
	position: relative;;
	background-color: $primary;
	color: $bone;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 25px 25px 5px 25px;
}
.copyright {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	margin-bottom: 15px;
	span {
		margin: 5px;
	}
}
.footer_references {
	font-size: 11px;
	text-align: center;
	a {
		text-decoration: none;
		color: $bone;
	}
}
